
body{
   width: 1500px;
   margin: auto;
   font-family:Arial, Helvetica, sans-serif;
   font-weight: 700;
   display: flex;
   align-items: center;
   flex-direction: column;
   justify-content: center;
   background-image: url(https://www.xmple.com/wallpaper/white-blue-stripes-streaks-lines-720x720-c2-ffffff-add8e6-l2-74-74-a-0-f-1.svg);
}
.poster{
   display: flex; 
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 900px;

}
.posterImage{
   display: flex;
   justify-content: center;
   width: 100%;
}
.content{
   align-self: center;
   display: flex;
   width: 75%;
   margin: 15px;
}
.nav-bar{
   width: 80%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background:rgb(0, 125, 209);
   flex-shrink: 0;
   height: 64px;
   border: solid black 2px;
   border-bottom: none;
}
.logo{
   display: flex;
   height: 100px;
   z-index: 100;
}
.title{
   display: flex;
   height: 7vh;
}
.back{

   text-decoration: none;
   color: white;
   padding: 8px;
   transition-property: color;
   transition-delay: 60ms;
   transition-duration: 400ms;
   
}
.back:hover{
   color: rgb(151, 255, 255);
}
.container{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90vh;
   background-color: rgb(205, 252, 255);
   height: 100%;
   border: solid black 2px ;
   text-align: center;
   padding: 40px;
}
.containerSearch{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 1200px;
      background-color: rgb(205, 252, 255);
      border: solid black 2px;
      height: fit-content;
}
.jennyfull{
   height: 550px;
}

.correct{
   opacity: 0;
   display: flex;
   width: 30px;
   height: 120px;
   display: flex;
   position: relative;
   right: 470px;
   top: 350px;
   
}
#passport{
   display: flex;
   width: 35px;
   height: 30px;
   display: flex;
   position: relative;
   bottom: 150px;
   left: 450px;
   border: solid red 20px;
   opacity: 0;
}
#trumpet{
   display: flex;
   width: 35px;
   height: 85px;
   display: flex;
   position: relative;
   bottom: 630px;
   right: 460px;
   border: solid red 20px;
   opacity: 0;
}
#keys{
   display: flex;
   width: 20px;
   height: 30px;
   display: flex;
   position: relative;
   bottom: 540px;
   left: 420px;
   border: solid red 20px;
   opacity: 0;
}
#phone{
   display: flex;
   width: 15px;
   height: 30px;
   position: relative;
   bottom: 780px;
   left: 80px;
   border: solid red 20px;
   opacity: 0;
}
.scene{
   display: flex;
   border: solid black 2px;
}
.search{
   margin: auto;
   display: flex;
   border: solid black 2px;
   width: 1200px;
}
.searchBar{
   display: flex;
   width: 400px;
   background-color:rgba(0, 0, 0, 0.3);
   border: solid rgb(38, 108, 173) 5px;
   border-radius: 3%;
   justify-content: space-between;
   align-items: center;
   bottom: 1100px;
   position: relative;

}
.card1, .card2, .card3, .card4{
   display: flex;
   height: 90px;
   width: 90px;
   border: solid rgb(255, 0, 0) 3px;
   background-color: rgba(255, 2, 2, 0.3);
   justify-content: center;
   align-items: center;
   flex-direction: column;
   text-align: justify;
   font-size: 80px;
   color: rgba(255, 2, 2, 0.0);
}
.p{
   position: relative;
}
.phoneBar{
   width: 40px;
   height: auto;
   margin: 5px;
   position: absolute;
}
.trumpetBar{
   width: 60px;
   height: auto;
   margin: 5px;
   position: absolute;
}
.passportBar{
   width: 60px;
   margin: 5px;
   position: absolute;
}
.keysBar{
   width: 30px;
   height: auto;
   margin: 5px;
   position: absolute;
}
.passwordPrompt{
   display: flex;
   width: 280px;
   height: 30px;
   display: flex;
   position: relative;
   bottom: 1100px;
   color: rgb(255, 75, 75);
   font-size: 25px;
   text-align: center;
   transition-property: color, border, background;
   transition-delay: 500ms;
   transition: 200ms;
   

}
.passwordPrompt:hover{
   color: green;
   border: solid rgba(3, 231, 3, 0.5);
   background:rgba(3, 231, 3, 0.2)
}
.containerTrump{
   display: flex;
      flex-direction: column;
      align-items: center;
      width: 1200px;
      background-color: rgb(205, 252, 255);
      border: solid black 2px;
      height: 100vh;
      text-align: center;
}
.trumpetpic{
   padding: 50px;
   display: flex;
   width: 800px;
}
.buttonCon{
   margin: 20px;
   display: flex;
   width: 400px;
   justify-content: space-evenly;
}
.btn{
   background-color: rgb(255, 255, 116);
   border-radius: 50%;
   width: 50px;
   height: 50px;
   border: solid black 4px;
   transition-property: border, background;
}
.btn:hover{
   background: rgb(112, 112, 0);
}
#next{
   margin-top: 50px;
   font-size: 20px;
   visibility: hidden;
   text-decoration: underline;
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   transition-property: color ;
   transition-delay: 100ms;
   transition-duration: 200ms;
}
#next:hover{
   color: aqua;
}